.top{
  background-color: #d1f4fa;
  position:relative;
  padding-top:100px;

}
.mountain{
  height:400px;
  width:400px;

}
.upward-cloud{
  height:100px;
  width:200px;
  position:absolute;
  top:50px;
  right:300px;
}
.bottom-cloud{
  height:100px;
  width:200px;
  position:absolute;
  bottom:300px;
  left:300px;
}
body{
  margin:0;
  text-align:center;
  font-family:'Merriweather',serif;
  color:#40514E;
}
h1 {
  margin:0 auto 0 auto;
  font-size:5.625rem;
  font-family:'Sacramento',serif;
  color:#66BFBF;
}

h2{
  font-family:'Montserrat',serif;
}
h3{
  font-family:'Montserrat',serif;
  color:#11999E;
  font-size:40px;
}
h2{
  color:#66BFBF;
  margin-top:0;
  font-size:3rem;
  font-weight: normal;
}
a{
  color:#11999E;
  font-size:20px;
  font-family:'montserrat';
  text-decoration:none;
}
a:hover{
  color:#EAF6F6;
}
.copyright{

  font-size:1rem;
  padding:20px 0 20px 0;
}
p{
  font-size:25px;
}

.skill-row{
  width:50;
  margin:100px;
}

.c-img{
align:center;
width:20%;
float:left;
}
.web-img{
  align:center;
  width:15%;
  float:right;
  margin-left:30px;
}
hr{
  width:5%;
  border:dotted 6px ;
  color:lightgrey;
  border-bottom: none;
}
.skills{
  padding-top:20px;
}
.insta,.whatsapp,.gmail{
  height:40px;
  width:40px;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
  background-color: #d1f4fa;
  padding-top:50px 0 20px;
}
